:root {
  --color-bg: #070739;
  --color-text: #f7f7f7;
  --color-text-translucent: #f7f7f720;
  --color-accent: #03c988;
  --color-accent-light: #9df1df;
  --color-tooltip-bg: #2a2a2a;
  --color-danger: red;
  --shadow-sm: rgba(255, 255, 255, 0.15) 0px 2px 8px;
  --font-primary: "Noto Sans", sans-serif;
  --font-secondary: "Russo One", sans-serif;
  --fs-xs: 0.625rem;
  --fs-sm: 0.75rem;
  --fs-md: 0.875rem;
  --fs-base: 1rem;
  --fs-xbase: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.75rem;
  --fs-xxl: 2.5rem;
  --fs-xxxl: 3.75rem;
  --duration-base: 0.3s;
  --duration-fade-in: 0.6s;
  /* color-scheme: dark light; */
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100vh;
  height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  position: relative;
}

#__nuxt {
  height: 100%;
}

button {
  border: none;
  outline: none;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: var(--fs-md);
  position: relative;
  background-color: var(--color-accent);
  color: var(--color-bg);
  padding: 0.625rem 1rem;
  width: max-content;
  font-weight: 600;
  border-radius: 0.5rem;
  text-transform: uppercase;
  transition: background-color var(--duration-base),
    box-shadow var(--duration-base);
}

button:where(:hover, :focus-visible) {
  background-color: var(--color-accent-light);
  box-shadow: 1px 2px 10px var(--color-accent-light);
}

h1 {
  margin: 0;
  padding: 0;
  font-family: var(--font-secondary);
  font-size: var(--fs-xxxl);
}

h3 {
  margin: 0;
  padding: 0;
  font-size: var(--fs-xl);
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
  max-width: max-content;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

a,
a:where(:hover, :focus-visible, :visited, :active) {
  color: var(--color-text);
  font-size: var(--fs-md);
  text-decoration: none;
}

input,
textarea {
  background: transparent;
  color: var(--color-text);
  border: 1px solid currentColor;
  box-shadow: none;
  border-radius: 0.5rem;
  padding: 0.625rem 0.75rem;
  font-family: var(--font-primary);
}

input:where(:autofill, :-webkit-autofill) {
  outline: 2px solid var(--color-accent-light);
  box-shadow: 1px 2px 5px var(--color-accent-light);
}

textarea {
  resize: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.link-button {
  position: relative;
  border: 1px solid var(--color-text);
  padding: 0.25rem 0.5rem;
  width: max-content;
  overflow: hidden;
  border-radius: 0.5rem;
  display: flex;
  cursor: pointer;
}

.link-button::before {
  content: "";
  position: absolute;
  inset: 0 -10%;
  background-color: var(--color-text);
  z-index: -1;
  transform: translateX(-120%);
  transition: transform var(--duration-base), color var(--duration-base);
  border-radius: 100vh;
}

.link-button:where(:hover, :focus-visible)::before {
  transform: translateX(0);
}

.link-button:where(:hover, :focus-visible) {
  color: var(--color-bg);
}

.link {
  position: relative;
  font-size: var(--fs-base);
  font-weight: 600;
  color: var(--color-accent);
}

.link::after {
  position: absolute;
  content: "";
  bottom: -0.125rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  border-top: 2px solid var(--color-accent);
  transition: width 0.25s;
}

.link:where(:hover, :focus-visible) {
  filter: drop-shadow(2px 2px 16px var(--color-accent-light));
}

.link:where(:hover, :focus-visible)::after {
  width: 100%;
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp var(--duration-fade-in);
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translateY(4rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-right {
  opacity: 0;
  animation: fadeInRight var(--duration-fade-in);
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn var(--duration-fade-in);
  animation-fill-mode: both;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in-zoom {
  opacity: 0;
  animation: fadeInZoom calc(1.125 * var(--duration-fade-in));
  animation-fill-mode: both;
}

@keyframes fadeInZoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }

  img {
    max-width: none;
  }

  .home-page-body::before {
    position: fixed;
    inset: 0;
    content: "";
    background-image: url("/images/night-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    mix-blend-mode: hard-light;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --color-text: #070739;
    --color-bg: #f7f7f7;
    --color-text-translucent: #07073920;
    --color-accent-light: #00b97c;
    --color-accent: #019664;
    --color-tooltip-bg: #f7f7f7;
  }
} */

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }

  .fadeInUp {
    opacity: 1;
    animation: none;
  }
}
